{% extends 'mailing/base.html' %}

{% block content %}
<div class="row mb-4">
    <div class="col-md-4">
        <div class="card text-center bg-primary text-white">
            <div class="card-body">
                <h3>{{ total_mailings }}</h3>
                <p>Всего рассылок</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-center bg-success text-white">
            <div class="card-body">
                <h3>{{ active_mailings }}</h3>
                <p>Активных рассылок</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-center bg-info text-white">
            <div class="card-body">
                <h3>{{ total_clients }}</h3>
                <p>Всего получателей</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">👥 Клиенты</h5>
                <p class="card-text">Управление получателями рассылок</p>
                <a href="{% url 'mailing:client_list' %}" class="btn btn-primary">Перейти</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">✉️ Сообщения</h5>
                <p class="card-text">Создание и редактирование писем</p>
                <a href="{% url 'mailing:message_list' %}" class="btn btn-primary">Перейти</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">📨 Рассылки</h5>
                <p class="card-text">Управление рассылками и статистика</p>
                <a href="{% url 'mailing:mailing_list' %}" class="btn btn-primary">Перейти</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}